@model PizzaViewModel

<h2>Pizza Details</h2>
<hr />
<p>Pizza Name: @Model.Name</p>
@if (Model.IsOnPromotion)
{
<p>This pizza is on Promotion</p>}

<a asp-controller="Pizza" asp-action="index">Return</a>