@model List<PizzaViewModel>
@{ ViewData["Title"] = "Index"; }

<h2>Menu</h2>
<h4>Pizzas</h4>

<a asp-controller="Pizza" asp-action="CreatePizza"> Add a new pizza to the menu </a>

@foreach (var pizza in Model)
{
<ul style="list-style-type: none;">
    <li>Pizza Name: @pizza.Name</li>
    @if (pizza.IsOnPromotion)
    {
<p>This pizza is on Promotion</p>}

    <li><a asp-controller="Pizza" asp-action="Details" asp-route-id="@pizza.Id">See Details for Pizza</a></li>
</ul>
}