@model PizzaViewModel

@*@Html.Partial("~/Views/Shared/Partials/_DetailsGreeting.cshtml")*@
<partial name="~/Views/Shared/Partials/_DetailsGreeting.cshtml"/>

<p>Pizza Details</p>

@if (ViewBag.Pizza.IsOnPromotion)
{
<h4>The Pizza is on Promotion </h4>
}