@model List<PizzaViewModel>
@*@{
        ViewData["Title"] = "Index";
    }*@

<h4>List of Pizzas: </h4>
<br />
<ul>
    @foreach (PizzaViewModel pizza in @Model)
    {
<li> Name: <a asp-controller="Pizza" asp-action="Details" asp-route-id="@pizza.Id">  @pizza.Name </a> </li>
                <li> Price @pizza.Price </li>
                                <hr />}
</ul>

<a asp-controller="Pizza" asp-action="CreatePizza"> Create new pizza </a>
<br />

<span>@ViewData["SharedMessage"]</span>

@*@section Scripts{
    <script>
        window.alert("Hello from Pizza Index View!")
    </script>
    <script src=""></script>
    }*@

