@model FeedbackViewModel

<h2>Edit Feedback</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFeedback" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="email" asp-for="Email" required />
            </div>
            <div class="form-group">
                <label asp-for="Message"></label>
                <textarea type="textbox" asp-for="Message" rows="4" cols="50" required></textarea>
            </div>
            <button type="submit" class="btn btn-default">Update</button>
            <div>
                <a asp-action="Index" asp-controller="Feedback">Back</a>
            </div>
        </form>
    </div>

</div>
